:root {
  --title-font: "DM Serif Display", serif;
  --body-font: "Josefin Sans", sans-serif;
  --accent-font: "Dancing Script", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eae0cf;
  font-family: var(--body-font);
}
.slide {
  display: none;
}
.slide.active {
  display: block;
}
.product {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}
.product:hover {
  transform: translateY(-5px);
}
.product-image {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.product h2 {
  font-family: var(--title-font);
  font-size: 32px;
  margin-top: 25px;
  color: #2b2118;
}
.product p {
  font-size: 16px;
  line-height: 1.5;
  margin: 15px 0;
  color: #6b5b4b;
}
.product button {
  font-family: var(--body-font);
  background-color: #2b2118;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 5px;
  transition: 0.3s;
}
.product button:hover {
  background-color: #7e623a;
  transform: translateY(-3px);
}
.carousel {
    width: 500px;
    position: relative;
}
.controls {
    position: absolute;
    top: 50%;
    left: -60px;
    right: -60px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 12px;
}
.controls button {
    background-color: #eae0cf;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.controls button:hover {
    color: #fff;
}
.dots {
    margin-top: 25px;
}