* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-family: var(--body-font);
}
:root {
    --title-font: "DM Serif Display", serif;
    --body-font: "Josefin Sans", sans-serif;
    --accent-font: "Dancing Script", cursive;
}
.product h2 {
    font-family: var(--title-font);
}